@font-face {
    font-family: "Mont";
    src: url("../fonts/Montserrat-Regular.ttf");
    /* src: url("../fonts/Montserrat-SemiBold.ttf"); */
    /* src: url("../fonts/Montserrat-Bold.ttf"); */
    /* src: url("../fonts/Montserrat-ExtraBold.ttf"); */
}

/* ! GLOBAL STYLES */

:root {
    --index: calc(1vh + 1vw);
    --swiper-pagination-bullet-horizontal-gap: 20px;
    --swiper-pagination-bullet-size: 15px;
    --swiper-pagination-bottom: 30px;
}

* {
    box-sizing: border-box;
}

html {
    /* font-family: "Mont"; */
    font-family: Montserrat;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    outline: 2px solid transparent;
    color: #000;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 75px;
}

p {
    margin: 0;
}

h1,
h2 {
    margin: 0;
}

.btn {
    width: 175px;
    height: 60px;
    color: white;
    background-color: #ff9900;
    border: none;
    text-align: center;
    font-weight: 700;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    cursor: pointer;
}

.btn:hover {
    background-color: #ffb84d;
}

.btn:focus {
    outline: none;
    background-color: #ffb84d;
}

.btn:active {
    background-color: #e1670e;
}

.section__header {
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
}

.menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 420px;
    height: 100vh;
    padding-left: 50px;
    padding-top: 40px;
    background-color: #fff;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transform: translateX(-101%);
    -webkit-transform: translateX(-101%);
    -moz-transform: translateX(-101%);
    -ms-transform: translateX(-101%);
    -o-transform: translateX(-101%);
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

.menu__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu__btn path {
    transition-property: fill;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.menu__btn:active path {
    fill: #e1670e;
}

.menu__list {
    margin-top: 107px;
}

.menu__item {
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.is-active {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}

/* ! LOCAL STYLES */

/* ? 1920 px */

/* ! HEADER */

.header {
    background-color: #fff;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 32px 32px;
    -webkit-border-radius: 0px 0px 32px 32px;
    -moz-border-radius: 0px 0px 32px 32px;
    -ms-border-radius: 0px 0px 32px 32px;
    -o-border-radius: 0px 0px 32px 32px;
}

.header__container {
    display: flex;
    align-items: center;
    height: 100px;
}

.burger {
    display: none;
    height: 38px;
    border: none;
    outline: 2px solid transparent;
    background-color: transparent;
    transition-property: outline;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    cursor: pointer;
}

.burger rect {
    transition-property: fill;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.burger:focus {
    outline: 2px solid #ff9900;
}

.burger:active {
    outline: 2px solid transparent;
}

.burger:active rect {
    fill: #e1670e;
}

.main-logo,
.main-logo__img,
.footer__main-logo,
.footer__main-logo_img {
    width: 225px;
    height: 72px;
}

.main-logo,
.footer__main-logo_img {
    flex-shrink: 0;
}

.header__nav {
    width: 100vw;
}

.nav__list {
    display: flex;
    /* margin-left: 553px; */
}

.nav__item:first-child {
    margin-left: 553px;
}

.nav__item:not(:first-child) {
    margin-left: 85px;
}

.nav__link {
    /* flex-grow: 0; */
    border: 2px solid transparent;
    font-size: 18px;
    line-height: 21.94px;
    font-weight: 600;
    color: #000;
    transition-property: color, border-bottom, border;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.nav__link:hover {
    border-bottom: 2px solid #ff9900;
}

.nav__link:focus {
    outline: none;
    border: 2px solid #ff9900;
}

.nav__link:active {
    outline: none;
    border: none;
    border-bottom: 2px solid #e1670e;
    color: #e1670e;
}

.header__search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-left: auto;
    padding: 0;
    border: none;
    outline: 2px solid transparent;
    background-color: transparent;
    transition-property: outline;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    cursor: pointer;
}

.header__search svg {
    width: 32px;
    height: 32px;
}

.header__search rect {
    transition-property: fill;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.header__search path {
    transition-property: stroke;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.header__search:focus {
    outline: 2px solid #ffb84d;
}

.header__search:hover rect {
    fill: #ff9900;
}

.header__search:hover path {
    stroke: #ff9900;
}

/* ! HERO */

.section__hero {
    margin-top: 50px;
}

.swiper {
    position: relative;
    width: 100%;
    height: 620px;
}

.swiper-slide {
    background-repeat: no-repeat;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}

.swiper-pagination-bullet {
    background-color: #cacaca;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
}

.slide-1 {
    background-image: url("../img/hero-first.png");
}

.slide-2 {
    background-image: url("../img/hero-pic-1920-2.png");
}

.slide-3 {
    background-image: url("../img/hero-pic-1920-3.png");
}

/* .hero__banner {
    position: relative;
    width: 100%;
    height: 620px;
    background-image: url("../img/hero-first.png");
    background-repeat: no-repeat;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
} */

.banner__slide {
    height: 100%;
    padding-top: 100px;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}

.hero__title {
    width: 50%;
    margin-left: 80px;
    color: #ffffff;
    font-weight: 800;
    font-size: 70px;
    /* font-size: calc(var(--index) * 2.057859); */
    line-height: 85.33px;
}

.hero__descr {
    width: 50%;
    margin-left: 80px;
    margin-top: 24px;
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.hero__btn {
    width: 280px;
    height: 78px;
    margin-left: 80px;
    margin-top: 90px;
    font-size: 23px;
}

.hero__bullitt-list {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

.hero__bullitt-item:not(:first-child) {
    margin-left: 15px;
}

.hero__bullit-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../img/bullit-dark.svg");
    background-repeat: no-repeat;
}

.hero__bullitt-icon_white {
    background-image: url("../img/bullit-white.svg");
}

/* ! ABOUT */

.section__about {
    margin-top: 50px;
}

.about__desc {
    width: 70%;
    margin-top: 20px;
    line-height: 32px;
}

.about__list {
    display: flex;
    gap: 32px;
    margin-top: 50px;
}

.about__example {
    display: flex;
    align-items: end;
    width: 868px;
    height: 622px;
    background-image: url("../img/about-example-pic.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}

.about__image {
    display: none;
}

.example__content {
    display: flex;
    align-items: center;
    height: 196px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}

.example__desc {
    width: 50%;
    margin: 50px 0px 50px 50px;
    font-weight: 700;
    line-height: 200%;
    color: white;
}

.example__btn {
    margin: 68px 50px 68px auto;
    border: 3px solid #ff9900;
    background-color: transparent;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    transition-property: border-color, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.example__btn:hover {
    background-color: #ff9900;
}

.example__btn:focus {
    background-color: #ff9900;
}

.example__btn:active {
    background-color: #e1670e;
    border-color: #e1670e;
}

/* .about__info {
    width: 870px;
    height: 295px;
} */

.info__block {
    display: flex;
    align-items: center;
    /* margin-top: 65px;
    margin-left: 60px; */
    width: 100%;
    height: 295px;
    border: 1px solid #cacaca;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}

.info__block:first-child {
    margin-bottom: 32px;
}

.info__logo {
    flex-shrink: 0;
    width: 190px;
    height: 165px;
    margin: 65px 50px 65px 60px;
}

.info__content {
    width: 50%;
}

.info__header {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29.26px;
}

.info__desc {
    line-height: 32px;
}

/* ! HOW */

.section__how {
    margin-top: 100px;
}

.how__list {
    display: flex;
    margin-top: 50px;
}

.how__item:not(:first-child) {
    margin-left: 86px;
}

.how__link {
    /* display: inline-block; */
    padding: 5px;
    font-size: 18px;
    line-height: 22px;
    border: none;
    background-color: transparent;
    transition-property: color, outline, border;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    cursor: pointer;
}
.how__link:hover {
    color: #ff9900;
}

.how__link:focus {
    outline: 2px solid #ff9900;
}

.how__link:active {
    outline: none;
    border: none;
    color: #e1670e;
}

.tab-content {
    display: none;
}

.tab-content-active {
    display: block;
}

.step__slide {
    display: flex;
    margin-top: 45px;
}

.step__content {
    width: 50%;
}

.step__header {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.step__desc {
    width: auto;
    margin-right: 142px;
    line-height: 32px;
}

.step__desc:first-of-type {
    margin-top: 8px;
}

.step__btns {
    margin-top: 18px;
}

.step__btn-deal {
    width: 147px;
    margin-left: 28px;
    border: 1px solid black;
    background-color: #fff;
    font-weight: 400;
    color: #000;
    transition-property: color, background-color, border;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.step__btn-deal:hover {
    background-color: #666666;
    border: none;
    color: white;
}

.step__btn-deal:focus {
    background-color: #666666;
    border: none;
    color: white;
}

.step__btn-deal:active {
    background-color: #000;
    border: none;
    color: white;
}

.step__pic {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.step__img {
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}

.step__img-2 {
    content: url("../img/how-pic-2.jpg");
}
.step__img-3 {
    content: url("../img/how-pic-3.jpg");
}
.step__img-4 {
    content: url("../img/how-pic-4.jpg");
}

/* ! FAQ */

.section__faq {
    margin-top: 111px;
}

.faq__details {
    margin-top: 32px;
}

@keyframes invisiblyGrowFontSize {
    0% {
        font-size: 0;
        opacity: 0;
    }
    100% {
        font-size: 1em;
        opacity: 0;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.details {
    position: relative;
    padding: 31px 0 30px 0;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-property: height;
    transition-duration: 5s;
    transition-timing-function: ease;
}

.details[open] .details__answer {
    animation-name: invisiblyGrowFontSize, fadeIn;
    animation-duration: 300ms, 300ms;
    animation-delay: 0ms, 300ms;
}

.details:hover {
    color: #ff9900;
}

.details:active {
    color: #000;
}

.details ellipse,
.details path {
    transition-property: fill;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.details:hover ellipse {
    fill: #ff9900;
}

.details:hover path {
    fill: white;
}

.details[open] .question__icon {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.details:active ellipse {
    fill: #cacaca;
}

.details:active path {
    fill: black;
}

.details::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.5px;
    top: 0;
    background-color: #cacaca;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.details:hover::before {
    background-color: #ff9900;
}

.details:active::before {
    background-color: #cacaca;
}

.details::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.5px;
    bottom: 0;
    background-color: #cacaca;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.details:hover::after {
    z-index: 2;
    background-color: #ff9900;
}

.details:active::after {
    z-index: 2;
    background-color: #cacaca;
}

.details__question {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    list-style: none;
}

.question__icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: auto;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.details__answer {
    width: 55%;
    color: #000;
    line-height: 32px;
}

.details__answer:not(:first-child) {
    margin-top: 32px;
}

/* ! FOOTER */

.footer {
    margin-top: 100px;
    background-color: #000;
    color: #cacaca;
}

.footer__container {
    display: flex;
    padding: 50px 0 50px 0;
}

.footer__left {
    display: flex;
    flex-direction: column;
}

.footer__list {
    margin-top: 20px;
}

.footer__link {
    font-weight: 600;
    color: inherit;
    font-size: 18px;
    line-height: 36px;
    transition-property: color, outline;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.footer__link:hover {
    color: #ff9900;
}

.footer__link:focus {
    outline: 2px solid #ff9900;
}

.footer__link:active {
    outline: 2px solid transparent;
    color: #e1670e;
}

.footer__logos {
    display: flex;
    margin-top: 90px;
    gap: 25px;
}

.footer__logo {
    width: 60px;
    height: 60px;
}

.footer__logo:focus {
    outline: 2px solid #ff9900;
}

.footer__logo:active {
    outline: 2px solid transparent;
}

.footer__logo path {
    transition-property: fill;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.footer__logo:hover path {
    fill: #ff9900;
}

.footer__logo:active path {
    fill: #e1670e;
}

.footer__form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 349px;
}

.form__header {
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
}

.form__input {
    width: 570px;
    height: 60px;
    padding: 14px 24px 14px 24px;
    border: none;
    outline: none;
    background-color: #414141;
    color: #ffffff;
    line-height: 32px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.form__input:hover {
    background-color: #666666;
}

.form__input:focus {
    background-color: #666666;
}

.form__input:active {
    background-color: #666666;
}

.form__input::placeholder {
    color: #cacaca;
}

.form__msg {
    height: 150px;
    resize: none;
}

.form__btn {
    width: 269px;
    margin: 0 auto;
    margin-top: 7px;
}

.footer__right {
    width: 363px;
    margin-left: auto;
    margin-top: 87px;
}

.footer__desc {
    line-height: 32px;
}

/* ! MEDIAS */

/* ? 2560 px */

@media (min-width: 1921px) {
    /* ! GLOBAL STYLES */

    .container {
        margin: 0 100px;
    }

    .btn {
        width: 325px;
        height: 120px;
        padding: 30px;
        font-size: 30px;
    }

    .main-logo,
    .main-logo__img,
    .footer__main-logo,
    .footer__main-logo_img {
        width: 335px;
        height: 115px;
    }

    /* ! LOCAL STYLES */

    /* ! HEADER */

    .header__container {
        height: 150px;
    }

    .nav__item:first-child {
        margin-left: 253px;
    }

    .nav__link {
        font-size: 32px;
    }

    .header__search {
        width: 45px;
    }

    .header__search svg {
        width: 150px;
        height: 150px;
    }

    /* ! HERO */

    /* .hero__banner {
        background-size: cover;
    } */

    .hero__title {
        width: 70%;
        font-size: calc(var(--index) * 1.757859);
    }

    .hero__descr {
        width: 70%;
        font-size: calc(var(--index) * 0.957859);
        line-height: calc(var(--index) * 1.057859);
    }

    .hero__btn {
        margin-top: 50px;
    }
}

/* ? 1720px */

@media (max-width: 1720px) {
    /* ! HEADER */

    .nav__item:first-child {
        margin-left: 20%;
    }

    /* ! HERO */

    .hero__title,
    .hero__descr {
        width: 75%;
    }

    /* ! ABOUT */

    .about__example {
        width: 100%;
        background-image: url("../img/about-example-pic-768.png");
        background-size: cover;
        background-position: center;
    }

    .step__desc {
        width: 560px;
    }

    /* ! FOOTER */

    .footer__form {
        margin-left: 250px;
    }

    .form__input {
        width: auto;
    }
}

/* ? 1440px */

@media (max-width: 1440px) {
    /* ! HEADER */

    .nav__item:first-child {
        margin-left: 10%;
    }

    /* ! ABOUT */

    .about__list {
        flex-direction: column;
    }

    .about__example {
        width: auto;
        /* margin: 0 auto 0 auto; */
        background-image: url("../img/about-example-pic-1024.png");
        background-size: cover;
        background-position: top;
    }

    /* ! FOOTER */

    .footer__form {
        margin-left: 5vw;
    }
}

/* ? 1250px */

@media (max-width: 1250px) {
    /* ! HEADER */

    .nav__item:not(:first-child) {
        margin-left: 45px;
    }

    /* ! HERO */

    /* .hero__banner {
        height: 668px;
        background-image: url("../img/hero-pic-1024-1.png");
        background-size: cover;
    } */

    .hero__title {
        width: 70%;
        font-size: 60px;
        line-height: 73px;
    }

    .hero__descr {
        width: 90%;
    }

    /* ! HOW */

    .step__desc {
        width: 40vw;
    }

    .step__img {
        content: url("../img/how-pic-1024-1.jpg");
    }

    .step__img-2 {
        content: url("../img/how-pic-1024-2.jpg");
        height: 535px;
    }

    .step__img-3 {
        content: url("../img/how-pic-1024-3.jpg");
        height: 660px;
    }

    .step__img-4 {
        content: url("../img/how-pic-1024-4.jpg");
        height: 505px;
    }

    /* ! FOOTER */

    .footer__right {
        display: none;
    }

    .footer__form {
        width: 540px;
        margin-left: 0;
    }

    .footer__center {
        margin-left: 10%;
    }

    .form__input {
        width: 100%;
    }
}

/* ? 1024px */

@media (max-width: 1024px) {
    /* ! GLOBAL STYLES */

    .container {
        margin: 0 50px;
    }

    /* ! HEADER */

    .main-logo,
    .main-logo__img {
        width: 150px;
        height: 48px;
    }

    .burger {
        display: block;
    }

    .header__container {
        justify-content: space-between;
    }

    .header__nav {
        width: auto;
    }

    .nav__item {
        display: none;
    }

    /* ! HERO */

    /* .hero__banner {
        height: 668px;
        background-image: url("../img/hero-pic-1024-1.png");
        background-size: cover;
    } */

    .swiper {
        height: 668px;
    }

    .slide-1 {
        background-image: url("../img/hero-pic-1024-1.png");
    }

    .slide-2 {
        background-image: url("../img/hero-pic-1024-2.png");
    }

    .slide-3 {
        background-image: url("../img/hero-pic-1024-3.png");
    }

    .banner__slide {
        padding-top: 160px;
    }

    .hero__title,
    .hero__descr,
    .hero__btn {
        margin-left: 77px;
    }

    .hero__title {
        width: auto;
        /* font-size: 60px; */
        font-size: calc(var(--index) * 3.118501);

        line-height: 73px;
    }

    .hero__descr {
        width: 660px;
        margin-top: 16px;
        font-size: 20px;
        line-height: 24px;
    }

    .hero__btn {
        margin-top: 60px;
    }

    /* .hero__bullitt-list {
        margin-top: 115px;
    } */

    /* ! ABOUT */

    .section__about {
        margin-top: 35px;
    }

    .about__desc {
        width: auto;
    }

    .about__list {
        flex-direction: column;
        margin-top: 60px;
    }

    .about__example {
        width: 100%;
        height: 640px;
        background-image: url("../img/about-example-pic-1024.png");
        background-size: cover;
    }

    /* .info__block {
        width: 100%;
    } */

    /* ! HOW */

    .section__how {
        margin-top: 80px;
    }

    .step__content {
        width: auto;
        margin-right: 5px;
    }

    .step__desc {
        width: 437px;
        margin-right: 50px;
    }

    .step__img {
        content: url("../img/how-pic-1024-1.jpg");
        width: 437px;
    }

    .step__img-2 {
        content: url("../img/how-pic-1024-2.jpg");
    }

    .step__img-3 {
        content: url("../img/how-pic-1024-3.jpg");
    }

    .step__img-4 {
        content: url("../img/how-pic-1024-4.jpg");
    }

    /* ! FAQ */

    .section__faq {
        margin-top: 80px;
    }

    .details__question {
        font-size: 20px;
    }

    /* ! FOOTER */

    .footer {
        margin-top: 80px;
    }

    .footer__form {
        width: 100%;
        margin-left: 0;
    }

    .footer__center {
        width: 540px;
        margin-left: 14.3%;
    }

    .footer__right {
        display: none;
    }

    .form__input {
        width: auto;
    }
}

/* ? 950px */

@media (max-width: 950px) {
    /* ! HOW */

    .step__img-3 {
        content: url("../img/how-pic-1024-3.jpg");
        height: 550px;
    }
}

/* ? 850px */

@media (max-width: 850px) {
    /* ! HEADER */

    .hero__title,
    .hero__descr,
    .hero__btn {
        margin-left: 40px;
    }

    .hero__title {
        width: 93%;
    }

    .hero__bullitt-list {
        margin-top: 55px;
    }

    /* ! HOW */

    .step__desc {
        width: 350px;
    }

    .step__img-3 {
        content: url("../img/how-pic-1024-3.jpg");
        height: 500px;
    }
}

/* ? 768px */

@media (max-width: 768px) {
    /* ! GLOBAL STYLES */
    .menu {
        padding-top: 22px;
    }

    /* ! LOCAL STYLES */

    /* ! HEADER */

    .header__container {
        height: 69px;
    }

    /* ! HERO */

    .section__hero {
        margin-top: 40px;
    }

    .swiper {
        height: 662px;
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        -ms-border-radius: 24px;
        -o-border-radius: 24px;
    }

    .swiper-slide {
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        -ms-border-radius: 24px;
        -o-border-radius: 24px;
    }

    .banner__slide {
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        -ms-border-radius: 24px;
        -o-border-radius: 24px;
    }

    .hero__title,
    .hero__descr,
    .hero__btn {
        margin-left: 40px;
    }

    .hero__title {
        font-size: 50px;
        line-height: 61px;
    }

    .hero__descr {
        width: 88%;
        font-size: 18px;
        line-height: 22px;
    }

    .hero__bullitt-list {
        margin-top: calc(var(--index) * 3.465);
    }

    .hero__bullitt-item:not(:first-child) {
        margin-left: 20px;
    }

    /* ! ABOUT */

    .about__example {
        /* width: 668px; */
        background-image: url("../img/about-example-pic-768.png");
        background-size: cover;
    }

    .example__content {
        width: 100%;
    }

    .example__desc {
        width: 366px;
        margin: 34px 0px 34px 40px;
    }

    .example__btn {
        margin-right: 40px;
        margin-left: 47px;
    }

    /* .info__block {
        width: 668px;
    } */

    .info__content {
        width: 100%;
    }

    .info__logo {
        width: 114px;
        height: 99px;
        margin: 68px 16px 68px 40px;
    }

    .info__header,
    .info__desc {
        width: 90%;
    }

    /* ! HOW */

    .how__list {
        justify-content: space-between;
    }

    .step__slide {
        flex-direction: column;
        margin-top: 50px;
    }

    .step__content {
        width: 100%;
    }

    .step__pic {
        order: -1;
    }

    .step__img {
        content: url("../img/how-pic-768-1.jpg");
        width: 100%;
        height: auto;
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        -ms-border-radius: 24px;
        -o-border-radius: 24px;
    }

    .step__img-2 {
        content: url("../img/how-pic-768-2.jpg");
    }

    .step__img-3 {
        content: url("../img/how-pic-768-3.jpg");
    }

    .step__img-4 {
        content: url("../img/how-pic-768-4.jpg");
    }

    .step__header {
        margin-top: 38px;
    }

    .step__desc {
        display: inline;
        width: 100vw;
    }

    .step__btns {
        margin-top: 25px;
    }

    .step__btn-deal {
        margin-left: 32px;
    }

    /* ! FAQ */

    .section__faq {
        margin-top: 50px;
    }

    .details__answer {
        width: 75%;
    }

    /* ! FOOTER */

    .footer {
        margin-top: 111px;
    }

    .footer__container {
        flex-direction: column;
    }

    .footer__list {
        display: none;
    }

    .footer__center {
        order: -1;
        width: auto;
        margin-left: 0;
    }

    .footer__form {
        width: 540px;
        margin-left: 0;
    }

    .form__input {
        width: 540px;
    }

    .form__btn {
        width: 241px;
        height: 58px;
    }

    .footer__left {
        margin-top: 50px;
    }

    .footer__logos {
        margin-top: 16px;
    }
}

/* ? 635px */

@media (max-width: 635px) {
    /* ! GLOBAL STYLES */

    .container {
        margin: 0 30px;
    }

    /* ! LOCAL STYLES */

    /* ! HERO */
    .hero__title {
        font-size: 40px;
        line-height: 40px;
    }

    .hero__btn {
        width: 45vw;
    }

    .hero__bullitt-list {
        margin-top: 45px;
    }

    /* ! ABOUT */

    .about__list {
        margin-top: 40px;
    }

    .about__example {
        display: block;
        height: 730px;
        /* background-image: url("../img/about-example-pic-320.png"); */
        background-size: contain;
    }

    .example__content {
        display: block;
        padding-top: 100%;
        background-color: transparent;
    }

    .example__desc {
        width: auto;
        margin: 0px 0px 15px 20px;
        font-weight: 400;
        color: black;
    }

    .example__btn {
        margin: 0;
        padding: 5px;
        margin-left: 20px;
        font-weight: 600;
        color: #ff9900;
    }

    .info__header,
    .info__desc {
        width: 100%;
    }

    .info__logo {
        margin: 30px 16px;
    }

    /* ! FOOTER */

    .footer__form,
    .form__input {
        width: auto;
    }
}

/* ? 545px */

@media (max-width: 545px) {
    /* ! HERO */

    /* .hero__banner {
        height: 575px;
        background-image: url("../img/hero-pic-320-1.png");
        background-size: auto;
    } */

    .swiper {
        height: 575px;
    }

    .banner__slide {
        padding-top: 100px;
    }

    .hero__title {
        font-size: 35px;
    }

    .hero__descr {
        width: auto;
        margin-right: 40px;
        font-size: 16px;
    }

    .hero__btn {
        width: 200px;
        height: 69px;
        margin: 60px 40px 0 40px;
        font-weight: 700;
        font-size: 16px;
        line-height: 15px;
    }

    /* ! ABOUT */

    .about__list {
        display: block;
    }

    .about__example {
        height: 670px;
    }

    .example__btn,
    .example__desc {
        margin-left: 0;
    }

    .info__block {
        display: block;
        height: auto;
        border: none;
    }

    .info__logo {
        margin: 0;
    }

    /* ! HOW */

    .section__how {
        margin-top: 60px;
    }

    .how__item:not(:first-child) {
        margin-left: 45px;
    }

    .step__img {
        height: 160px;
    }

    .step__btns {
        display: flex;
    }

    /* ! FAQ */

    .details__question {
        font-size: 16px;
    }

    /* ! FOOTER */

    .footer {
        margin-top: 80px;
    }
}

/* ? 425px */

@media screen and (max-width: 426px) {
    /* ! GLOBAL STYLES */

    .container {
        margin: 0 15px;
    }

    .btn {
        width: 182px;
        height: 45px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }

    .section__header {
        font-size: 24px;
        line-height: 30px;
    }

    .menu {
        width: 100%;
        padding-top: 23px;
        padding-left: 15px;
    }

    .menu__list {
        margin-top: 32px;
    }

    .menu__item {
        margin-bottom: 32px;
    }

    .menu__link {
        font-size: 16px;
        line-height: 20px;
    }

    /* ! LOCAL STYLES */

    /* ! HEADER */

    .main-logo,
    .main-logo__img {
        width: 130px;
        height: 40px;
    }

    /* ! HERO */

    .section__hero {
        margin-top: 30px;
    }

    /* .hero__banner {
        width: 100%;
        height: 308px;
        background-image: url("../img/hero-pic-320-1.png");
        background-size: cover;
    } */

    :root {
        --swiper-pagination-bottom: 15px;
        --swiper-pagination-bullet-size: 10px;
    }

    .swiper {
        width: auto;
        height: 308px;
    }

    .swiper-slide {
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }

    .slide-1 {
        background-image: url("../img/hero-pic-768-1.png");
        background-size: cover;
    }

    .slide-2 {
        background-image: url("../img/hero-pic-768-2.png");
    }

    .slide-3 {
        background-image: url("../img/hero-pic-768-3.png");
    }

    .banner__slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    .hero__title,
    .hero__descr {
        /* width: 100%; */
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .hero__title {
        width: 90%;
        font-size: 25px;
        line-height: 25px;
    }

    .hero__descr {
        width: 90%;
        margin-top: 6px;
        font-size: 14px;
        line-height: 20px;
    }

    .hero__btn {
        margin: 0;
        margin-top: 32px;
        padding: 13px 28px;
        font-size: 12px;
        line-height: 15px;
    }

    .hero__bullitt-list {
        margin-top: 34px;
    }

    /* ! ABOUT */

    .about__example {
        height: auto;
        background-image: none;
    }

    .about__image {
        display: block;
    }

    .example__content {
        padding: 0;
    }

    .example__desc {
        margin-top: 8px;
    }

    .example__btn:active {
        background-color: #e1670e;
        color: white;
    }

    .example__btn:focus {
        background-color: #ffb84d;
        border-color: #ffb84d;
        color: white;
    }

    .info__block:first-child {
        margin-top: 32px;
    }

    .info__logo {
        width: 90px;
        height: 76px;
    }

    .info__header {
        font-size: 22px;
    }

    /* ! HOW */

    .how__list {
        margin-top: 30px;
    }

    .how__link {
        font-size: 16px;
    }

    .step__slide {
        margin-top: 20px;
    }

    .step__img {
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }

    .step__header {
        margin-top: 30px;
        font-weight: 400;
    }

    /* ! FAQ */

    .details__question {
        font-weight: 400;
    }

    .question__icon,
    .question__icon svg {
        width: 35px;
        height: 35px;
    }

    /* ! FOOTER */

    .footer {
        margin-top: 60px;
    }

    .footer__center {
        margin-bottom: 16px;
    }

    .form__header {
        font-size: 28px;
        line-height: 30px;
    }

    .form__input {
        width: auto;
        font-size: 16px;
        line-height: 32px;
    }

    .footer__form {
        width: auto;
    }

    .footer__left {
        align-items: center;
        margin-top: 16px;
    }

    .footer__main-logo {
        display: flex;
        align-items: center;
        width: 171px;
        height: 62px;
    }

    .footer__main-logo_img {
        height: 62px;
    }

    .footer__logos {
        gap: 16px;
    }

    .footer__logo,
    .footer__logo svg {
        width: 40px;
        height: 40px;
    }
}

/* ? 375px */

@media (max-width: 376px) {
    /* ! HERO */

    .hero__title {
        font-size: 20px;
    }

    .hero__descr {
        font-size: 12px;
    }

    /* ! ABOUT */

    .info__logo {
        width: 80px;
        height: 55px;
    }

    .info__header {
        font-size: 20px;
    }

    /* ! HOW */

    .how__list {
        margin-top: 25px;
    }

    .how__link {
        font-size: 14px;
    }

    .step__header {
        margin-top: 18px;
    }

    /* ! FOOTER */

    .form__header {
        font-size: 26px;
    }
}

/* ? 320px */

@media (max-width: 320px) {
    /* ! GLOBAL STYLES */

    .btn {
        width: 162px;
        height: 41px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }

    /* ! LOCAL STYLES */

    /* ! HEADER */

    .main-logo,
    .main-logo__img {
        width: 110px;
        height: 35px;
    }

    /* ! HERO */

    /* .hero__banner {
        width: 290px;
        height: 308px;
        background-image: url("../img/hero-pic-320-1.png");
        background-size: cover;
    } */

    .banner__slide {
        padding-top: 60px;
    }

    .hero__title,
    .hero__descr {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .hero__title {
        font-size: 20px;
        line-height: 25px;
    }

    .hero__descr {
        width: 80%;
        margin-top: 6px;
        font-size: 12px;
        line-height: 15px;
    }

    .hero__btn {
        padding: 13px 28px;
        font-size: 12px;
        line-height: 15px;
    }

    .hero__bullitt-list {
        margin-top: 34px;
    }

    /* ! ABOUT */

    .section__about {
        margin-top: 60px;
    }

    .about__desc {
        font-size: 14px;
        line-height: 28px;
    }

    .about__list {
        margin-top: 14px;
    }

    .about__example {
        display: block;
        width: 290px;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }

    .example__content {
        display: block;
        background-color: transparent;
    }

    .example__desc {
        width: 100%;
        margin: 0;
        margin-top: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        color: inherit;
    }

    .example__btn {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 12px 44px;
        margin-top: 12px;
        color: #ff9900;
    }

    .about__list {
        display: block;
    }

    .info__block {
        display: block;
        width: 100%;
        height: auto;
        border: none;
    }

    .info__block:first-child {
        margin-top: 32px;
    }

    .info__logo {
        width: 64px;
        height: 49px;
        margin: 0;
    }

    .info__content {
        width: 100%;
    }

    .info__header {
        width: auto;
        font-size: 18px;
        line-height: 22px;
    }

    .info__desc {
        width: auto;
        font-size: 14px;
        line-height: 28px;
    }

    /* ! HOW */

    .section__how {
        margin-top: 60px;
    }

    .how__list {
        margin-top: 20px;
    }

    .how__item:not(:first-child) {
        margin-left: 30px;
    }

    .how__link {
        font-size: 14px;
        line-height: 17px;
    }

    .step__slide {
        margin-top: 16px;
    }

    .step__header {
        margin-top: 16px;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
    }

    .step__desc {
        font-size: 14px;
        line-height: 28px;
    }

    .step__btns {
        display: flex;
        gap: 10px;
    }

    .step__btn-deal {
        width: 118px;
        margin-left: 0;
    }

    /* ! FAQ */

    .details__question {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
    }

    .question__icon,
    .question__icon svg {
        width: 30px;
        height: 30px;
    }

    /* ! FOOTER */

    .footer {
        margin-top: 60px;
    }

    .footer__center {
        margin-bottom: 16px;
    }

    .form__header {
        font-size: 24px;
        line-height: 30px;
    }

    .form__input {
        width: auto;
        font-size: 14px;
        line-height: 32px;
    }

    .footer__form {
        width: auto;
    }

    .footer__left {
        align-items: center;
        margin-top: 16px;
    }

    .footer__main-logo {
        display: flex;
        align-items: center;
        width: 131px;
        height: 42px;
    }

    .footer__main-logo_img {
        height: 42px;
    }

    .footer__logos {
        gap: 16px;
    }

    .footer__logo,
    .footer__logo svg {
        width: 40px;
        height: 40px;
    }
}
