body {
    background-color: rgb(116, 127, 90);
    font-family: 'Open Sans', sans-serif;
}

.tooltip {
    width: 375px;
    height: 160px;
    
    background-color: #fff;
}

.text {
    width: 268px;
    margin: 0;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 24px;
}

.marker {
    position: relative;
    display: inline;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    line-height: 16px;
}
