@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerRegular.woff2"), url("../fonts/MullerRegular.woff");
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

html {
    font-family: Muller;
}

body {
    background: #e5e5e5;
}

/* ! HEADER */

.header {
    /* display: flex; */
    margin-top: 30px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.above-nav {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 30px;
}

.above-nav-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 261px;
    height: 54px;
}

.above-nav-telephone {
    margin-left: 40px;
    color: #666666;
}

.above-nav-right {
    margin-left: auto;
}

.above-nav-right-profile {
    color: #cc9933;
}

.above-nav-right-icon {
    display: inline-block;
    background-image: url("../project-img/backArrow.svg");
    width: 21px;
    height: 12px;
    margin-right: 7px;
    color: #CC9933;
}

/* ! NAV */

.nav {
    display: flex;
    align-items: center;
    /* margin: 0 45px; */
}

.nav-list {
    display: flex;
}

.nav-item:not(:last-child) {
    margin-right: 45px;
}

.nav-buttons {
    margin-left: auto;
}

/* ! MAIN + SPECIAL */

.special {
    margin-top: 70px;
}

.special-list {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

.special-item:nth-child(2n) {
    margin-left: 50%;
    /* display: flex; */
    /* align-items: center; */
}

/* ! ABOUT */

.about {
    margin-top: 70px;
}

.about-text {
    margin-top: 20px;
}

/* ! SERVICES */

.services {
    margin-top: 70px;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.services-item {
    width: 50%;
}

/* .services-item:nth-child(2n) {
    margin-left: 50%;
} */

/* ! ADVANTAGES */

.advantages {
    margin-top: 70px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.advantages-item {
    width: 25%;
}

/* ! ACCOMMODATION */

.accommodation {
    margin-top: 70px;
}

.accommodation-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.accommodation-item {
    width: 30%;
}

.accommodation-item:not(:first-child):not(:nth-child(3n + 1)) {
    margin-left: 30px;
}
