@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerRegular.woff2"), url("../fonts/MullerRegular.woff");
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

html {
    font-family: Muller;
}

body {
    background: #e5e5e5;
}

.section-header {
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    color: #333333;
}

.btn {
    border: 1px solid #cc9933;
    padding: 13px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: white;
    font-size: 16px;
    line-height: 16px;
    color: #cc9933;
}
/* ! HEADER */

.header {
    /* display: flex; */
    margin-top: 30px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.above-nav {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.above-nav-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 261px;
    height: 54px;
}

.above-nav-telephone {
    margin-left: 40px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    color: #666666;
}

.above-nav-right {
    margin-left: auto;
}

.above-nav-right-profile {
    font-size: 16px;
    line-height: 16px;
    color: #cc9933;
}

.above-nav-right-icon {
    display: inline-block;
    width: 21px;
    height: 12px;
    margin-right: 7px;
    background-image: url("../project-img/backArrow.svg");
    color: #cc9933;
}

/* ! NAV */

.nav {
    display: flex;
    align-items: center;
    margin-top: 30px;
    /* border: 1px solid white; */
    background: white;
    padding: 27px 45px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.nav-list {
    display: flex;
}

.nav-item-link {
    font-size: 16px;
    line-height: 16px;
    color: #666666;
}

.nav-item:not(:last-child) {
    margin-right: 45px;
}

.nav-buttons {
    margin-left: auto;
}

.nav-btn:not(:last-child) {
    margin-right: 40px;
}

/* ! MAIN + SPECIAL */

.special {
    margin-top: 70px;
}

.special-list {
    display: flex;
    align-items: start;
    flex-direction: column;
    position: relative;
    gap: 24px;
}

.special-item {
    position: relative;
    width: 573px;
    height: 258px;
}

.special-big-item {
    position: absolute;
    right: 0;
    height: 540px;
}

.special-pic {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.special-item-content {
    color: white;
    padding-left: 45px;
}

.special-item-name {
    width: 10ch;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
}

.special-item:nth-child(2) .special-item-name {
    width: auto;
}

.special-big-item-name {
    margin-top: 212px;
    font-size: 60px;
    line-height: 60px;
}

.special-item-price {
    display: block;
    font-size: 20px;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 47px;
}

.special-big-item-price {
    font-size: 30px;
    line-height: 30px;
}

.special-item-link {
    color: #f0bf5f;
    margin-top: 47px;
}

.special-item-link-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 7px;
    background-image: url(../project-img/Rectangle3.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}
/* ! ABOUT */

.about {
    margin-top: 70px;
}

.about-text {
    margin-top: 20px;
    line-height: 32px;
    margin-right: 282px;
}

/* ! SERVICES */

.services {
    margin-top: 70px;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 24px;
}

.services-item {
    width: 48%;
    background: white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.services-item-description {
    margin-top: 26px;
    margin-left: 45px;
    margin-right: 126px;
    margin-bottom: 35px;
}

.services-item-pic {
    width: 573px;
    height: 165px;
    border-radius: 15px 15px 0px 0px;
    -webkit-border-radius: 15px 15px 0px 0px;
    -moz-border-radius: 15px 15px 0px 0px;
    -ms-border-radius: 15px 15px 0px 0px;
    -o-border-radius: 15px 15px 0px 0px;
}

.services-item-link {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    color: #cc9933;
}

.services-item-link-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 7px;
    background-image: url(../project-img/Rectangle3.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(2.5px);
    -webkit-transform: translateY(2.5px);
    -moz-transform: translateY(2.5px);
    -ms-transform: translateY(2.5px);
    -o-transform: translateY(2.5px);
}

.services-item-text {
    margin: 0;
    line-height: 32px;
}

/* .services-item:nth-child(2n) {
    margin-left: 50%;
} */

/* ! ADVANTAGES */

.advantages {
    margin-top: 70px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 22px;
}

.advantages-item {
    width: 276px;
    height: 276px;
    padding-top: 40px;
    padding-left: 45px;
    padding-right: 42px;
    padding-bottom: 32px;
    background-color: white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.advantages-item-text {
    line-height: 32px;
}

/* ! ACCOMMODATION */

.accommodation {
    margin-top: 70px;
}

.accommodation-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 24px;
}

.accommodation-item {
    width: 374px;
    height: 440px;
    background-color: #ffffff;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

/* .accommodation-item:not(:first-child):not(:nth-child(3n + 1)) {
    margin-left: 30px;
} */

.accommodation-item-pic {
    width: 374px;
    height: 217px;
    border-radius: 15px 15px 0px 0px;
    -webkit-border-radius: 15px 15px 0px 0px;
    -moz-border-radius: 15px 15px 0px 0px;
    -ms-border-radius: 15px 15px 0px 0px;
    -o-border-radius: 15px 15px 0px 0px;
}

.accommodation-item-content {
    margin-top: 36px;
    margin-left: 45px;
    margin-right: 45px;
}

.accommodation-item-from {
    font-size: 16px;
}

.accommodation-item-price {
    font-size: 20px;
    font-weight: bold;
}

.accommodation-item-night {
    margin-right: 52px;
    font-size: 16px;
}

.accommodation-item-name {
    margin-top: 14px;
}

.accommodation-item-location {
    color: #999;
}

.accommodation-big-item-pic {
    position: absolute;
    height: 440px;
}

.accommodation-big-item-content {
    position: relative;
    margin-top: 380px;
    margin-left: 54px;
    margin-bottom: 24px;
}

.accommodation-big-item-link {
    font-size: 20px;
    line-height: 40px;
    color: #fff;
}

.accommodation-big-item-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 7px;
    background-image: url("../project-img/Rectangle4.svg");
    background-repeat: no-repeat;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}

/* ! FORM */

.form {
    margin-top: 70px;
}

.form-header {
    padding-top: 45px;
}

.form-container {
    /* height: 256px; */
    padding-bottom: 45px;
    background-color: #e9e9e9;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.form-content {
    display: flex;
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 45px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.form-content-block:first-child {
    margin-left: 28px;
}

.form-content-block:not(:first-child) {
    margin-left: 40px;
}

.form-content-block:nth-last-child(2) {
    margin-right: 50px;
}

.form-content-paragraphs {
    font-size: 12px;
    line-height: 12px;
}

.form-content-select {
    width: 169px;
}

.form-btn {
    align-self: center;
    padding: 13px 30px;
}

/* .form-content-select{
} */

.form-content-input {
    border: none;
    font-size: 16px;
    line-height: 16px;
}

.form-content-input-number {
    width: 121px;
    border-bottom: 1px solid #e9e9e9;
}
/* ! CONTACTS */

.contacts {
    margin-top: 70px;
}

.contacts-content {
    display: flex;
    height: 620px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.contacts-left-content {
    width: 375px;
    height: 530px;
    margin: 45px auto 45px 45px;
}

.contacts-list-item {
    display: flex;
    justify-content: space-between;
    height: 72px;
    border-bottom: 1px solid #e9e9e9;
}

.contacts-list-item:last-child {
    border-bottom: none;
}

.contacts-list-item:not(:first-child) {
    margin-top: 25px;
}

.contacts-list-item-mail {
    padding-bottom: 120px;
}

.contacts-list-item p {
    margin: 0;
}

.contacts-item-header {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
}

.contacts-item-content {
    width: 225px;
    line-height: 150%;
}

.contacts-item-text {
    line-height: 24px;
    font-weight: 400;
}

.contacts-list-item a {
    color: #cc9933;
}

.contacts-item-email-hint {
    color: #999999;
}

.contacts-list-item.contacts-list-btn {
    margin-top: 45px;
}

.contacts-right-content {
    width: 650px;
    height: 530px;
    margin: 45px 45px 45px auto;
}

.contacts-right-content-img {
    width: 100%;
    height: 100%;
}

/* ! FOOTER */

.footer-content {
    display: flex;
    position: relative;
    height: 340px;
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: #333333;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.footer-content p {
    margin: 0;
}

.footer-item-text {
    line-height: 30px;
    color: #ffffff;
}

.footer-item-link {
    line-height: 24px;
    color: #cc9933;
}

.footer-left-content {
    width: 300px;
    height: 250px;
    margin: 45px 125px 45px 45px;
}

.footer-left-item:not(:first-child) {
    margin-top: 40px;
}

.footer-right-content {
    width: 500px;
    height: 250px;
    margin: 45px 0px 45px 0px;
}

.footer-right-item:not(:first-child) {
    margin-top: 15px;
}

.footer-logo {
    display: inline-block;
    position: absolute;
    width: 250px;
    height: 230px;
    bottom: 0;
    right: 175px;
    background-image: url("../project-img/logo-footer.svg");
    background-repeat: no-repeat;
}

.footer-edge-content {
    width: 25px;
    height: 250px;
    margin-left: auto;
    margin-right: 45px;
    margin-top: 45px;
}

.footer-edge-logo {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}
.footer-edge-item:not(:first-child) {
    margin-top: 20px;
}

.footer-logo-owl {
    background-image: url("../project-img/owl-footer.svg");
}
.footer-logo-ok {
    background-image: url("../project-img/ok-footer.svg");
}

.footer-logo-vk {
    background-image: url("../project-img/vk-footer.svg");
}
